{% extends 'crispy/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
{{ form.patient|as_crispy_field  }}
{{ form.symptoms|as_crispy_field  }}
{{ form.diagnosis|as_crispy_field  }}
{{ form.investigations|as_crispy_field  }}
{{ form.bp|as_crispy_field  }}
    {% comment %} {{ form|crispy }} {% endcomment %}

    <input class="btn btn-primary " type="submit" value="Submit">
    <a href="#" class="btn btn-info"><i class="bi bi-arrow-left-circle"></i>Back</a>

</form>

{% endblock %}