
{% extends 'crispy/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{history.patient}}</h5>
                <h6 class="card-title">{{history.symptoms}}</h5>
                <p class="card-text">{{history.diagnosis}}</p>
                <p class="card-text">{{history.investigations}}</p>
                <a href="{% url 'patient_detail' history.patient.id %}" class="btn btn-primary"><i class="bi bi-arrow-left-circle"></i>Back</a>
                <a href="{% url 'history_update' history.id %}" class="btn btn-info"><i class="bi bi-arrow-up-circle"></i>Update</a>
                <a href="{% url 'history_delete' history.id %}" class="btn btn-danger"><i class="bi bi-x-circle"></i>Delete</a>
                
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div>
            <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Drug</th>
                    <th scope="col">Dose</th>
                    <th scope="col">Regim</th>
                    <th scope="col">No of Tabs</th>
                    <th scope="col"><a class="btn btn-primary btn-sm float-right" href="{% url 'prescription_create' history.id %}" role="button">New Drug</a></th>
                  </tr>
                </thead>
                <tbody>
            {% for pres in prescription %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{pres.drug}}</td>
                    <td>{{pres.dose}}</td>
                    <td>{{pres.regim}}</td>
                    <td>{{pres.no_of_tabs}}</td>
                  </tr>
            {% endfor %}
                  </tbody>
              </table>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}